# Data Science with Python (Pandas)

Can Şerif Mekik

December 6, 2021

<table align="left">
<tr>
<td><img src=CDSI_Fac.of.Sc_logo.png alt="CDSI Logo" width="300"/></td>
<td><img src=mcgill_ccr_approval_croppedforblock_0.png alt="CCR Approved Logo" width="300"/></td>
</tr>
</table>

## Introductory Remarks

This workshop assumes minimal working knowledge of Python. 

Pandas is a great place to start using Python for data science
- Similar feel to other stats software like R or Stata
- Works well on its own but also integrates well with the Python data science ecosystem

`Pandas` is excellent for [Data Wrangling](https://en.wikipedia.org/wiki/Data_wrangling), our main topic. 

This is the process making raw data ready for statistical analysis and/or modeling.

## Useful Resources

The [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) is an excellent two-page summary of essential `pandas` features.

The [Official Pandas Docs](https://pandas.pydata.org/docs/) are the single best resource for information on `pandas` short of the source code.

If you are looking to learn about a specific function or feature, go into the API section.

The docs also offer tutorials and other helpful material.

## Contents

1. Setup
2. Main Data Structures
3. Basic Data Wrangling: Loading, Viewing, Cleaning, and Enriching Data
4. More Data Wrangling: Aggregating, Merging and Concatenating Data
5. Conclusion

## Setup

We will walk through the first steps of analyzing a sample dataset.

To follow the workshop on your own machine, you should have Anaconda already installed.

This will automatically include the necessary dependencies.

Our data set is Semra Sevi's Canadian Federal Elections dataset.

You can find a copy of the dataset and this jupyter notebook at the following address.

```https://link.to.materials```

### Getting Ready to Code

`Jupyter` is a python tool for rich interactive coding.

This presentation uses `Jupyter` notebook, in fact!

To get set, create a new folder in which you will work and copy the materials into it.

I would call it `CDSI_DSwP`, or something like that.

Then launch your machines console, activate your conda environment and run the following.

```jupyter notebook```

This should launch Jupyter notebook in your browser. When it does, you can open the notebook.

### Installing and Importing pandas

`pandas` comes pre-packaged in Anaconda.

You can always install it using the following pip command: ```pip install pandas```

If you have conda, but not pandas, you can also do: ```conda install pandas```

Base `pandas` has only a few dependencies, but you may have to install optional dependencies depending on your work and your setup.

For a full list of optional dependencies see the
[Installation Documentation](https://pandas.pydata.org/docs/getting_started/install.html)

In [1]:
# import the pandas library!

import pandas as pd

## Main Data Structures

There are two main data structures in `pandas`. 
- `Series` represent one single column of data
- `DataFrame` represents a two dimensional array of data

These are *array-like* data structures. 

- They have fixed dimensions.
- Their entries are of a homogeneous datatype.
- They are associated with indices, which help with data access
- They support a variety of mathematical operations.

### Pandas Series

> Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [2]:
s = pd.Series([1, 2, 3, 4, 5], index=["Label1", "Label2", "Label3", "Label4", "Label5"])
s

Label1    1
Label2    2
Label3    3
Label4    4
Label5    5
dtype: int64

In [3]:
s.shape, s.dtype

((5,), dtype('int64'))

In [4]:
s.index

Index(['Label1', 'Label2', 'Label3', 'Label4', 'Label5'], dtype='object')

### Series Data Access

There are *many* ways to access data with Series objects.

Which one you use will depend on the situation.

Let's look at some common patterns.

See the docs on [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html) for more details.

#### Using `loc` and `iloc`

These are the basic data access methods

In [5]:
s.loc["Label1"]  # access data by index label

1

In [6]:
s.iloc[0] # access data by position in index

1

#### Using Regular Subscripts

Subscripts try to behave intelligently depending on the data type you pass in.

In [7]:
s["Label1"] 
# direct indexing; multifunction, tries to be smart

1

In [8]:
s[0]

1

#### Subsetting Data

We can use boolean/logical expressions to select data.

See the cheat sheet for a quick list of different operators.

In [9]:
2 < s # Constructing a boolean series

Label1    False
Label2    False
Label3     True
Label4     True
Label5     True
dtype: bool

In [10]:
s[2 < s] # Simple boolean query

Label3    3
Label4    4
Label5    5
dtype: int64

In [11]:
s[(2 < s) & (s < 5)] # More complex boolean; watch operator precedence!

Label3    3
Label4    4
dtype: int64

Look at what happens to the index with a boolean selection.

In [12]:
s[2 < s]

Label3    3
Label4    4
Label5    5
dtype: int64

We lose some index entries! 

But, sometimes, we want to keep the index intact. Here is how to do that.

In [13]:
s.where(s > 2) # boolean indexing again, but preserving the original index

Label1    NaN
Label2    NaN
Label3    3.0
Label4    4.0
Label5    5.0
dtype: float64

### Pandas DataFrames

> DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [14]:
df = pd.DataFrame({"another_s": [6, 7, 8, 9, 10],
                   "yet another": [11, None, None, 14, 15]},
    index=["Label1", "Label2", "Label3", "Label4", "Label5"])
df

        another_s  yet another
Label1          6         11.0
Label2          7          NaN
Label3          8          NaN
Label4          9         14.0
Label5         10         15.0

In [15]:
df.columns # dfs have column indices!

Index(['another_s', 'yet another'], dtype='object')

### DataFrame Data Access

You can use the same methods as Series to access and subset DataFrame data.

The behaviour is slightly different in some cases, and there some additional functionality that allows you to work with columns.

For further details, see

#### Accessing Rows and Columns

In [16]:
df.another_s

Label1     6
Label2     7
Label3     8
Label4     9
Label5    10
Name: another_s, dtype: int64

In [17]:
# 'df.yet another' invalid!
df["yet another"]

Label1    11.0
Label2     NaN
Label3     NaN
Label4    14.0
Label5    15.0
Name: yet another, dtype: float64

To select rows, use `loc` and `iloc`

In [18]:
df.loc["Label1"]

another_s       6.0
yet another    11.0
Name: Label1, dtype: float64

In [19]:
df.iloc[0]

another_s       6.0
yet another    11.0
Name: Label1, dtype: float64

#### Adding, Selecting and Reordering Columns

In [20]:
df["s"] = s # Remeber s?
df

        another_s  yet another  s
Label1          6         11.0  1
Label2          7          NaN  2
Label3          8          NaN  3
Label4          9         14.0  4
Label5         10         15.0  5

In [21]:
df[["s", "another_s"]]

        s  another_s
Label1  1          6
Label2  2          7
Label3  3          8
Label4  4          9
Label5  5         10

### DataFrame Subsetting

You can use boolean expressions as with series, but with different columns too!

In [22]:
df[df.s < 2]

        another_s  yet another  s
Label1          6         11.0  1

In [23]:
df[df["yet another"] > df.s]

        another_s  yet another  s
Label1          6         11.0  1
Label4          9         14.0  4
Label5         10         15.0  5

### Working with Missing Data

Take another look at the Dataframe.

In [24]:
df

        another_s  yet another  s
Label1          6         11.0  1
Label2          7          NaN  2
Label3          8          NaN  3
Label4          9         14.0  4
Label5         10         15.0  5

The `NaN` values indicate missing data. 

Let's briefly review their behavior. We'll look into how to deal with them later.

We can check for missing values.

In [25]:
df["yet another na"] = df["yet another"].isna()
df[["another_s", "yet another", "yet another na"]]

        another_s  yet another  yet another na
Label1          6         11.0           False
Label2          7          NaN            True
Label3          8          NaN            True
Label4          9         14.0           False
Label5         10         15.0           False

Missing values get propagated in mathematical operations and ignored in aggregation functions.

In [26]:
df["another_s"] + df["yet another"]

Label1    17.0
Label2     NaN
Label3     NaN
Label4    23.0
Label5    25.0
dtype: float64

In [27]:
df["yet another"].sum()

40.0

### Special Datatypes

Pandas has special datatypes for categorical and time data.

These datatypes support a number of sophisticated operations.

We will see some of them later on, but for reference see the following:
- [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
- [Timeseries data](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html)

## Basic Data Wrangling: Loading, Viewing, Cleaning and Enriching Data

You can divide data wrangling into three broad activities.
1. Inspection - Get familiar with the data and check for potential problems
2. Preparation - Create or clean variables, deal with missing values
3. Exploration - Compute descriptives statistics and identify basic patterns in the data

The ordering above is typical, but not absolute. 

The different activities often tend to blend together.

### Reading and Writing Data

`pandas` can import a wide variety of common data formats. 

Some supported file types include the following.
- CSV
- Excel
- SPSS
- STATA

For a full list, see the [I/O documentation](https://pandas.pydata.org/docs/reference/io.html).

We can load datasets by calling the appropriate read function.

In [28]:
# For this workshop, we will work with the following data
load_path = "federal-candidates-2021-10-20.csv"

# Load the data 
df = pd.read_csv(load_path)

/home/mekikc/.conda/envs/CDSI/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Writing to these formats is also generally supported.

In [29]:
# Let's save a copy of the data to this file
save_path = "federal-candidates-copy.csv"

# To write a dataframe, call the write method for the chosen format
df.to_csv(save_path)

### Viewing the Data

The first step in analyzing data is to get familiar with it.

This way, we get a feel for how much cleaning will be necessary.

We also give ourselves a chance to catch anything weird.

To get our bearings, let's take a look at the metadata.

In [30]:
df[df.columns[:10]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46526 entries, 0 to 46525
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              46526 non-null  int64
 1   parliament      46526 non-null  int64
 2   year            46526 non-null  int64
 3   type_elxn       46526 non-null  object
 4   elected         46526 non-null  object
 5   candidate_name  46526 non-null  object
 6   edate           46526 non-null  object
 7   incumbent       46458 non-null  object
 8   gender          46525 non-null  object
 9   birth_year      12276 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 3.5+ MB

A good next step is to inspect the data directly and continue to look for
anything weird.

We can look at the top or bottom of the dataset or to randomly sample rows from the data set.

In [31]:
df.head(5) # Peek at the first n rows. See anything weird?

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
0,26093,1,1867,General,Elected,"POWER,",1867-08-07,Not incumbent,M,1815.0,...,Not acclaimed,Switcher,Single,Anti-Confederate,Third_Party,Third_Party,Conservative,Conservative,Conservative,4
1,13011,1,1867,General,Elected,"JONES,",1867-08-07,Not incumbent,M,1824.0,...,Not acclaimed,Switcher,Single,Labour,Labour,Third_Party,Conservative,Conservative,Conservative,4
2,27974,1,1867,General,Not elected,"SHANNON, S.L.",1867-08-07,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Unknown,Independent,Independent,Conservative,Conservative,Conservative,4
3,18040,1,1867,General,Elected,"KIRKPATRICK, Thomas",1867-08-07,Not incumbent,M,1805.0,...,Not acclaimed,Not switcher,Single,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,2
4,1798,1,1867,General,Elected,"BLANCHET, Hon. J.G.",1867-08-07,Not incumbent,M,1829.0,...,Acclaimed,Not switcher,Single,Liberal-Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,1

In [32]:
df.tail(5) # Peek at the last n rows.

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
46521,36038,44,2021,General,Not elected,"Bandou, Rachid",2021-09-20,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Bloc Québécois,Bloc,Bloc,Liberal Party of Canada,Liberal,Liberal,5
46522,33663,44,2021,General,Elected,"Zahid, Salma",2021-09-20,Incumbent,F,1970.0,...,Not acclaimed,Not switcher,Single,Liberal Party of Canada,Liberal,Liberal,Liberal Party of Canada,Liberal,Liberal,5
46523,36037,44,2021,General,Not elected,"Jemmah, Rachid",2021-09-20,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Green Party of Canada,Green,Third_Party,Liberal Party of Canada,Liberal,Liberal,9
46524,32856,44,2021,General,Elected,"McLeod, Michael",2021-09-20,Incumbent,M,1959.0,...,Not acclaimed,Not switcher,Single,Liberal Party of Canada,Liberal,Liberal,Liberal Party of Canada,Liberal,Liberal,5
46525,35991,44,2021,General,Not elected,"Joshi, Medha",2021-09-20,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,Conservative Party of Canada,Conservative,Conservative,Liberal Party of Canada,Liberal,Liberal,3

In [33]:
df.sample(5) # Peek at a random sample of rows.

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
12978,29551,22,1953,General,Not elected,"THOMAS, Joseph Douglas",1953-08-10,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Liberal,Liberal,Liberal,Liberal Party of Canada,Liberal,Liberal,4
26298,1702,34,1988,General,Not elected,"BIZZELL, Maggie",1988-11-21,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,Communist Party of Canada,Communist,Third_Party,Progressive Conservative Party,Conservative,Conservative,5
41311,32852,42,2015,General,Not elected,"MCLAREN, David",2015-10-19,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,New Democratic Party,NDP,CCF_NDP,Liberal Party of Canada,Liberal,Liberal,4
6390,30050,13,1917,General,Elected,"TURRIFF, John Gillanders",1917-12-17,Incumbent,M,1855.0,...,Not acclaimed,Not switcher,Single,Unionist,Conservative,Conservative,Conservative,Conservative,Conservative,2
22473,6925,31,1979,General,Not elected,"FOGWILL, Lynn",1979-05-22,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,New Democratic Party,NDP,CCF_NDP,Progressive Conservative Party,Conservative,Conservative,5

### Data Cleaning

Let's get familiar with some `pandas` data cleaning tools.

Our first data cleaning step is to clean up the data types.

Sometimes `pandas` fails to assign the right dtype when constructing a variable.

#### Adjusting Datatypes

String data are typically assigned the 'object' type.

This is `pandas`'s way of signaling it doesn't really know how to interpret the data.

In this dataset, almost all columns with string data represent categorical
variables. 

However, edate is a date, and candidate_name and occupation are a free-form strings.

In [34]:
object_cols = df.select_dtypes(include="object").columns
print(f"Object-type columns: {object_cols}.")

Object-type columns: Index(['type_elxn', 'elected', 'candidate_name', 'edate', 'incumbent',
       'gender', 'country_birth', 'lgbtq2_out', 'indigenousorigins',
       'occupation', 'lawyer', 'censuscategory', 'riding', 'province',
       'acclaimed', 'switcher', 'multiple_candidacy', 'party_raw',
       'party_minor_group', 'party_major_group', 'gov_party_raw',
       'gov_minor_group', 'gov_major_group'],
      dtype='object').

We can cast the affected variables to the correct dtypes as follows.

In [35]:
# Cast edate as a datetime variable
df.edate = pd.to_datetime(df.edate, yearfirst=True) 

# Cast object variables as categorical
for col in df.select_dtypes(include="object").columns:
    if col not in ["candidate_name", "occupation"]: 
        df[col] = df[col].astype("category")

 Let's check what happened to the object-type columns.

In [36]:
df[object_cols].dtypes

type_elxn                   category
elected                     category
candidate_name                object
edate                 datetime64[ns]
incumbent                   category
gender                      category
country_birth               category
lgbtq2_out                  category
indigenousorigins           category
occupation                    object
lawyer                      category
censuscategory              category
riding                      category
province                    category
acclaimed                   category
switcher                    category
multiple_candidacy          category
party_raw                   category
party_minor_group           category
party_major_group           category
gov_party_raw               category
gov_minor_group             category
gov_major_group             category
dtype: object

Finally, let's take a look at the numerical data.

Do you notice anything weird?

In [37]:
float_cols = df.select_dtypes("float").columns
print(f"Float columns: {float_cols}")

int_cols = df.select_dtypes("int").columns
print(f"Int columns: {int_cols}")

Float columns: Index(['birth_year', 'riding_id', 'votes', 'percent_votes'], dtype='object')
Int columns: Index(['id', 'parliament', 'year', 'num_candidates'], dtype='object')

Of the four float columns, it is only natural to represent `percent_votes` as a 
float type variable. 

For `riding_id`, we are better off using a categorical datatype, even though the 
values look like integers. 

Likewise, the `id` column should also be viewed as a
categorical. In both cases, the ordering of the values is not meaningful.

Here is how we convert the dataype of `riding_id` and `id`.

In [38]:
df.riding_id = df.riding_id.astype("category")
df.id = df.id.astype("category")

The `birth_year` and `votes` columns should be using an integer dtype.

But why were three variables get 'mis-coded' as float in the first place? 

Perhaps we can get a clue by comparing to correct int variables

In [39]:
df[["birth_year", "votes", "year", "num_candidates"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46526 entries, 0 to 46525
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   birth_year      12276 non-null  float64
 1   votes           45835 non-null  float64
 2   year            46526 non-null  int64
 3   num_candidates  46526 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 1.4 MB

It's because the default integer datatype does not support missing
values! 

Luckily, `pandas` has another integer datatype that supports missing values. We
can just cast to that.

In [40]:
df.birth_year = df.birth_year.astype("Int64")
df.votes = df.votes.astype("Int64")

Don't mix up 'int64' with 'Int64'! In pandas, they are different: 
- `int64` refers to the regular int type that has no missing value support
- `Int64` refers to the to the int type with missing value support

#### Cleaning Categorical Variables

Categorical variables tend to require some extra attention, even in the most
well-curated datasets.

Take a look at the values of the `gender` variable. 

Keep in mind what the data's README file says about this variable:
> gender is a binary factor variable encoding candidate gender.

In [41]:
df.gender.cat.categories # This is how we access category names

Index(['2', 'F', 'M'], dtype='object')

We were told `gender` is supposed to be a binary variable, but we got three values?

So what's going on here? 

To get a better idea, let's tabulate the variable.

In [42]:
df.gender.value_counts()

M    39938
F     6585
2        2
Name: gender, dtype: int64

Let's look up these cases by subsetting the data.

In [43]:
df[df.gender == "2"]

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
45911,34718,44,2021,General,Not elected,"Walker, Gillian",2021-09-20,Not incumbent,2,<NA>,...,Not acclaimed,Not switcher,Single,Green Party of Canada,Green,Third_Party,Liberal Party of Canada,Liberal,Liberal,5
46045,35663,44,2021,General,Not elected,"Woodmass, Rowan",2021-09-20,Not incumbent,2,<NA>,...,Not acclaimed,Not switcher,Single,New Democratic Party,NDP,CCF_NDP,Liberal Party of Canada,Liberal,Liberal,6

These candidates are from the most recent election and, if you look them up, you'll find that they both have non-binary gender identity.

We can recode the data to give those two cases more explicit labels.

In [44]:
df.gender = df.gender.replace({"2": "NB"})
df.gender.cat.categories

Index(['NB', 'F', 'M'], dtype='object')

Replace is very powerful and works with other variable types as well!

It is particularly handy when you want to collapse multiple categories.

Another adjustment we can make is to rename categories. 

Why? Because it is confusing and difficult to work with
poorly named categories.

Take a look at the category names in the `censuscategory` variable.

In [45]:
df.censuscategory.cat.categories

Index(['Business, finance and administration occupations',
       'Health occupations', 'Management occupations', 'Members of Parliament',
       'Natural and applied sciences and related occupations',
       'Natural resources, agriculture and related production occupations',
       'Occupations in art, culture, recreation and sport',
       'Occupations in education, law and social, community and government services',
       'Occupations in manufacturing and utilities',
       'Sales and service occupations',
       'Trades, transport and equipment operators and related occupations'],
      dtype='object')

`censuscategory` gives candidates' occupation according to the Census Canada taxonomy.

These names are precise, but wordy. Let's abbreviate them.

In [46]:
df.censuscategory = df.censuscategory.cat.rename_categories([
    "Business", "Health", "Management", "MP", "Science", "Resources", "Culture",
    "Social", "Manufacturing", "Sales", "Trades"
])
df.censuscategory.head(10)

0       Sales
1       Sales
2      Social
3      Social
4      Health
5    Business
6         NaN
7      Social
8      Health
9         NaN
Name: censuscategory, dtype: category
Categories (11, object): ['Business', 'Health', 'Management', 'MP', ..., 'Social', 'Manufacturing', 'Sales', 'Trades']

#### Subsetting the Data

Often, we are not interested in the entirety of the data. It then makes sense to subset the data using the techniques we saw above. 

Here, we'll focus on a subset of the available variables in elections after 1990.

In [62]:
df = df[(df.year > 1990) & (df.type_elxn == "General")] # keep general election data from 1990 on
df = df[["parliament", "edate", "year", "province", "riding", "id", "candidate_name", "birth_year", 
         "censuscategory", "party_major_group", "votes", "percent_votes", "elected"]]
df.head(5)

,parliament,edate,year,province,riding,type_elxn,id,candidate_name,gender,birth_year,censuscategory,party_major_group,gov_major_group,acclaimed,votes,percent_votes,elected
27908,35,1993-10-25,1993,Manitoba,WINNIPEG--ST. JAMES,General,1851,"BLUMENSCHEIN, Peter",M,<NA>,Management,Reform_Alliance,Liberal,Not acclaimed,8246,20.965118,Not elected
27909,35,1993-10-25,1993,Ontario,Kent,General,18100,"KNIGHT, Victor",M,<NA>,Social,Independent,Liberal,Not acclaimed,1014,2.790467,Not elected
27910,35,1993-10-25,1993,Ontario,LEEDS--GRENVILLE,General,1186,"BEECROFT, Richard",M,<NA>,Social,Third_Party,Liberal,Not acclaimed,196,0.387819,Not elected
27911,35,1993-10-25,1993,Ontario,ETOBICOKE CENTRE,General,5704,"DONLEY, Charles",M,<NA>,Sales,Conservative,Liberal,Not acclaimed,9242,19.514359,Not elected
27912,35,1993-10-25,1993,Alberta,VEGREVILLE,General,21076,"LEHR, Roger",M,<NA>,Business,Conservative,Liberal,Not acclaimed,8180,22.692596,Not elected

### Handling Missing Data

Let's try to identify where we have missing values.

In [48]:
na_counts = df.isna().sum() # .sum() is an aggregation function!
na_counts[na_counts > 0]

gender                1
birth_year        34250
censuscategory     5596
acclaimed            36
votes               691
percent_votes        73
dtype: int64

`pandas` gives us several options to deal with missing values.

Our options are basically to do nothing, drop the missing values, or impute them (i.e., fill them in).

Let's work up to dealing with missing data in a complex data set like this one.

To keep things simple, we will focus on a single candidate, Elizabeth May.

In [49]:
elizabeth_may = df[df.id == 22644][["edate", "birth_year", "censuscategory"]]
elizabeth_may

           edate  birth_year censuscategory
37083 2006-11-27        <NA>             MP
38431 2008-10-14        <NA>             MP
38961 2011-05-02        1954             MP
41310 2015-10-19        1954             MP
44484 2019-10-21        1954             MP
45134 2021-09-20        1954            NaN

Dropping is the simplest solution, but is not ideal because of how much data is lost.

In [50]:
elizabeth_may.dropna() # Drop all rows with missing data

           edate  birth_year censuscategory
38961 2011-05-02        1954             MP
41310 2015-10-19        1954             MP
44484 2019-10-21        1954             MP

In [51]:
elizabeth_may.dropna(axis=1) # Drop columns with missing data

           edate
37083 2006-11-27
38431 2008-10-14
38961 2011-05-02
41310 2015-10-19
44484 2019-10-21
45134 2021-09-20

Another strategy is to fill in the missing data with some reasonable values.

In [52]:
elizabeth_may.birth_year # original data with missing values

37083    <NA>
38431    <NA>
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

In [53]:
elizabeth_may.birth_year.fillna(1954) # fill birth year by fixed value

37083    1954
38431    1954
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

But, it's best not to do manual imputation. We could use some automation instead.

A simple automation is to carry existing values forwards or backwards through the data. But we have to make sure the data is sorted properly.

In [54]:
em_sorted = elizabeth_may.sort_values("edate") # make sure data is sorted first.

In [55]:
em_sorted.birth_year.fillna(method="bfill") # carry birth year back over the index

37083    1954
38431    1954
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

In [56]:
em_sorted.censuscategory.fillna(method="pad") # carry occupation forward in time

37083    MP
38431    MP
38961    MP
41310    MP
44484    MP
45134    MP
Name: censuscategory, dtype: category
Categories (11, object): ['Business', 'Health', 'Management', 'MP', ..., 'Social', 'Manufacturing', 'Sales', 'Trades']

You can do more sophisticated imputation as well, using the `interpolate()` method.

A detailed discussion of missing values and basic imputation is available in [Working with Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html).

Finally, we can combine the imputation functions with techniques discussed in the next section to handle grouped data.

### Enriching the Data with New Variables

Once we have sufficiently cleaned our data, we usually want to calculate new variables from it.

We can simply calculate the value and add a new variable as show below.

In [64]:
df["age"] = df.year - df.birth_year

In [65]:
df.age.describe()

count    3097.000000
mean       50.738457
std        10.175434
min        20.000000
25%        44.000000
50%        51.000000
75%        58.000000
max        80.000000
Name: age, dtype: float64

#### Grouping

Often, we want to calculate statistics by group.

For this, we can use `groupby()`, which will automatically split the dataset by group. 

We can then [aggregate, filter, or transform the data by group](https://pandas.pydata.org/docs/user_guide/groupby.html).

As a starting example let's try to find the age of the oldest MP in each parliament.

In [104]:
grouped = df.groupby("parliament") # Split into groups
grouped_age = grouped.age # Select the age variable
df["oldest_mp_age"] = grouped_age.transform(max) # Find max age within each group
df.oldest_mp_age.describe() # Describe the result

count    18618.000000
mean        73.946396
std          3.111632
min         69.000000
25%         72.000000
50%         74.000000
75%         74.000000
max         80.000000
Name: oldest_mp_age, dtype: float64

To give a more complex example, let's try calculating the margin of victory in each contest.

In [103]:
grouped = df.groupby(["edate", "province", "riding"]) # group by contest
grouped_pct_votes = grouped.percent_votes # select grouped percent votes variable

def compute_margin(data): # define margin computation
    if data.size > 1:
        runner_up = data.sort_values(ascending=False).iloc[1]
        return data - runner_up
    else:
        return None

df["margin"] = grouped_pct_votes.transform(compute_margin) # calculate margin
df.margin.describe()

count    18602.000000
mean       -10.260525
std         19.824150
min        -46.508846
25%        -25.608196
50%        -13.673935
75%          0.000000
max         90.051051
Name: margin, dtype: float64

#### Method Chaining and Piping

Did you notice how tedious it was to calculate the pervious variables? 

We had to set a lot of variables. 

We can avoid this using a technique called *method chaining* or *piping*.

Here is how it goes for the margin of victory:

In [105]:
df["margin"] = (df
    .groupby(["edate", "province", "riding"])
    .percent_votes
    .transform(compute_margin)
)

This works because each function we call in the sequence is calls a method of the result returned by the previous function.

It's a technique is good for grouping together operations into logical chunks. But, try not to abuse it.

What happens if we want to use piping with functions that are not methods of the result?

For instance, what happens if we want to pipe some custom functions?

We just use the special method `pipe()`, allows us to pass in arbitrary functions and arguments.

## More Data Wrangling: Aggregating, Reshaping, Merging and Concatenating Data

Often, we need to modify the structure of our dataset.

There are a few reasons we might want to do this:
- We might want to look at aggregate statistics
- Our data might need to be formatted a certain way to facilitate or enable analysis
- We might need to incorporate some supplemental data to calculate some variable of interest
- Our data may be spread over many files and/or dataframes

### Aggregating Data

We often need to calculate aggregate statistics when trying to provide descriptives for our data. 

Let's calculate the number of candidates in each election of each party and occupation type.

In [149]:
count = (df
    .groupby(["edate", "party_major_group", "censuscategory"], as_index=False)
    .size())

          edate party_major_group censuscategory  size
0    1993-10-25              Bloc       Business    16
1    1993-10-25              Bloc         Health     2
2    1993-10-25              Bloc     Management     7
3    1993-10-25              Bloc             MP     4
4    1993-10-25              Bloc        Science     0
...         ...               ...            ...   ...
3867 2021-09-20       Third_Party        Culture     0
3868 2021-09-20       Third_Party         Social     0
3869 2021-09-20       Third_Party  Manufacturing     0
3870 2021-09-20       Third_Party          Sales     0
3871 2021-09-20       Third_Party         Trades     0

[3872 rows x 4 columns]

### Reshaping Data

Suppose now that we want the average number of candidates in  each occupation by party.

For this, one easy approach is to pivot the party and censuscategory variables to be column indices and then take an average.

Refer to [Reshaping and Pivot Tables](https://pandas.pydata.org/docs/user_guide/reshaping.html) for more information.

In [158]:
count_p = count.pivot(columns=["party_major_group", "censuscategory"], values="size")
count_p.head(4)

party_major_group     Bloc                                                   \
censuscategory    Business Health Management   MP Science Resources Culture
0                     16.0    NaN        NaN  NaN     NaN       NaN     NaN
1                      NaN    2.0        NaN  NaN     NaN       NaN     NaN
2                      NaN    NaN        7.0  NaN     NaN       NaN     NaN
3                      NaN    NaN        NaN  4.0     NaN       NaN     NaN

party_major_group                             ... Third_Party                 \
censuscategory    Social Manufacturing Sales  ...      Health Management  MP
0                    NaN           NaN   NaN  ...         NaN        NaN NaN
1                    NaN           NaN   NaN  ...         NaN        NaN NaN
2                    NaN           NaN   NaN  ...         NaN        NaN NaN
3                    NaN           NaN   NaN  ...         NaN        NaN NaN

party_major_group
censuscategory    Science Resources Culture Social Manufacturing Sales Trades
0                     NaN       NaN     NaN    NaN           NaN   NaN    NaN
1                     NaN       NaN     NaN    NaN           NaN   NaN    NaN
2                     NaN       NaN     NaN    NaN           NaN   NaN    NaN
3                     NaN       NaN     NaN    NaN           NaN   NaN    NaN

[4 rows x 88 columns]

In [159]:
count_p.mean()

party_major_group  censuscategory
Bloc               Business           2.113636
                   Health             0.204545
                   Management         0.795455
                   MP                 3.545455
                   Science            0.659091
                                       ...
Third_Party        Culture            9.909091
                   Social            36.727273
                   Manufacturing      1.113636
                   Sales             13.000000
                   Trades             7.545455
Length: 88, dtype: float64

### Merging Data

To get a handle on merging, let's say we are interested in analyzing candidate occupation by sector.

In [60]:
sector = pd.DataFrame({
            "sector": ["Tertiary", "Tertiary", "Tertiary", "Tertiary", "Tertiary", "Primary", 
                       "Tertiary", "Tertiary", "Secondary", "Tertiary", "Secondary"],
    "censuscategory": ["Business", "Health", "Management", "MP", "Science", "Resources", "Culture", 
                       "Social", "Manufacturing", "Sales", "Trades"]
})
sector

       sector censuscategory
0    Tertiary       Business
1    Tertiary         Health
2    Tertiary     Management
3    Tertiary             MP
4    Tertiary        Science
5     Primary      Resources
6    Tertiary        Culture
7    Tertiary         Social
8   Secondary  Manufacturing
9    Tertiary          Sales
10  Secondary         Trades

Using the merge function we can specify how we want this DataFrame to be combined with the main data set.

In [61]:
merged = pd.merge(df, sector, on="censuscategory", how="left")
merged[["year", "candidate_name", "censuscategory", "sector"]]

       year       candidate_name censuscategory    sector
0      1867               POWER,          Sales  Tertiary
1      1867               JONES,          Sales  Tertiary
2      1867        SHANNON, S.L.         Social  Tertiary
3      1867  KIRKPATRICK, Thomas         Social  Tertiary
4      1867  BLANCHET, Hon. J.G.         Health  Tertiary
...     ...                  ...            ...       ...
46521  2021       Bandou, Rachid            NaN       NaN
46522  2021         Zahid, Salma            NaN       NaN
46523  2021       Jemmah, Rachid            NaN       NaN
46524  2021      McLeod, Michael            NaN       NaN
46525  2021         Joshi, Medha            NaN       NaN

[46526 rows x 4 columns]

Look more closely at the code:
```python
pd.merge(df, sector, on="censuscategory", how="left")
```

We usually talk about a left and right hand arguments. These are the first two arguments to merge.

The `on` argument tells us what variable(s) to merge on. 

The `how` argument specifies how the data gets merged.

To read more see the [guide on database-style joins](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging)

### Concatenating Data

Finally, sometimes our data is spread over multiple dataframes, and we just want to combine it.

This is what the concatenation operation does.

See [Concatenating Objects](https://pandas.pydata.org/docs/user_guide/merging.html#concatenating-objects) for further details.

In [165]:
# Separate counts by election; note iteration over groupby
separate_dataframes = [obj for name, obj in count.groupby("edate")]
separate_dataframes[:2]

[        edate party_major_group censuscategory  size
 0  1993-10-25              Bloc       Business    16
 1  1993-10-25              Bloc         Health     2
 2  1993-10-25              Bloc     Management     7
 3  1993-10-25              Bloc             MP     4
 4  1993-10-25              Bloc        Science     0
 ..        ...               ...            ...   ...
 83 1993-10-25       Third_Party        Culture    36
 84 1993-10-25       Third_Party         Social   204
 85 1993-10-25       Third_Party  Manufacturing     8
 86 1993-10-25       Third_Party          Sales    52
 87 1993-10-25       Third_Party         Trades    42

 [88 rows x 4 columns],
          edate party_major_group censuscategory  size
 88  1995-02-13              Bloc       Business     0
 89  1995-02-13              Bloc         Health     0
 90  1995-02-13              Bloc     Management     0
 91  1995-02-13              Bloc             MP     0
 92  1995-02-13              Bloc        Science     0
 ..         ...               ...            ...   ...
 171 1995-02-13       Third_Party        Culture     0
 172 1995-02-13       Third_Party         Social     3
 173 1995-02-13       Third_Party  Manufacturing     0
 174 1995-02-13       Third_Party          Sales     2
 175 1995-02-13       Third_Party         Trades     0

 [88 rows x 4 columns]]

In [167]:
pd.concat(separate_dataframes) # back together!

          edate party_major_group censuscategory  size
0    1993-10-25              Bloc       Business    16
1    1993-10-25              Bloc         Health     2
2    1993-10-25              Bloc     Management     7
3    1993-10-25              Bloc             MP     4
4    1993-10-25              Bloc        Science     0
...         ...               ...            ...   ...
3867 2021-09-20       Third_Party        Culture     0
3868 2021-09-20       Third_Party         Social     0
3869 2021-09-20       Third_Party  Manufacturing     0
3870 2021-09-20       Third_Party          Sales     0
3871 2021-09-20       Third_Party         Trades     0

[3872 rows x 4 columns]

## Conlusion

We have only scratched the surface of what you can do with `pandas`.

Always remember that the documentation is your best friend.

Let me leave you with a pointer to a few other libraries;

- `numpy` is the standard Python library for mathematical tasks. It is very powerful and you can use it almost seamlessly in conjunction with `pandas`.
- If you want to run statistical analyses with your `pandas` data, check out Python's `statsmodels` package.
- Finally, if you want to make beautiful graphs, please come back next week, when we will look at `matplotlib`, Python's de facto standard plotting library.