# Intermediate Python (Pandas)

Can Åžerif Mekik

PhD Candidate <br/>
Department of Cognitive Science <br/>
Rensselaer Polytechnic Institute

February 24, 2022

<table align="left">
<tr>
<td><img src=CDSI_Fac.of.Sc_logo.png alt="CDSI Logo" width="300"/></td>
<td><img src=mcgill_ccr_approval_croppedforblock_0.png alt="CCR Approved Logo" width="300"/></td>
</tr>
</table>

## Introductory Remarks

This workshop assumes familiarity with basic Python syntax. 

Pandas is a great place to start using Python for data science
- Similar feel to other stats software like R or Stata
- Works well on its own but also integrates well with the Python data science ecosystem

`Pandas` is excellent for [Data Wrangling](https://en.wikipedia.org/wiki/Data_wrangling), our main topic. 

This is the process making raw data ready for statistical analysis and/or modeling.

## Useful Resources

The [Pandas Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) is an excellent two-page summary of essential `pandas` features.

The [Official Pandas Docs](https://pandas.pydata.org/docs/) are the single best resource for information on `pandas` short of the source code.

If you are looking to learn about a specific function or feature, go into the API section.

The docs also offer tutorials and other helpful material.

## Contents

1. Setup
2. Main Data Structures
3. Basic Data Wrangling: Loading, Viewing, Cleaning, and Enriching Data
4. More Data Wrangling: Aggregating, Reshaping, Merging and Concatenating Data
5. Conclusion

## Setup

We will walk through the first steps of analyzing a sample dataset.

To follow the workshop on your own machine, you should have Anaconda already installed.

https://www.anaconda.com/products/individual

This will automatically include the necessary dependencies.

Our data set is Semra Sevi's Canadian Federal Elections dataset.

You can find a copies of the dataset and code at the following addresses.

- Code: https://github.com/cmekik/CDSI_DSwP
- Data: https://doi.org/10.7910/DVN/ABFNSQ

### Getting Ready to Code

`Jupyter` is a python tool for rich interactive coding that ships with Anaconda.

This presentation uses `Jupyter` notebook, in fact!

To get set, create a new folder in which you will work and copy the materials into it.

Then launch your machines console, navigate to your folder, activate your conda environment, and run the following.

```jupyter notebook```

This should launch Jupyter notebook in your browser. When it does, you can open the notebook.

### Installing and Importing pandas

`pandas` comes pre-packaged in Anaconda.

You can always install it using the following pip command: ```pip install pandas```

If you have conda, but not pandas, you can also do: ```conda install pandas```

Base `pandas` has only a few dependencies, but you may have to install optional dependencies depending on your work and your setup.

For a full list of optional dependencies see the
[Installation Documentation](https://pandas.pydata.org/docs/getting_started/install.html)

In [1]:
# import the pandas library!

import pandas as pd

## Main Data Structures

There are two main data structures in `pandas`. 
- `Series` represent one single column of data
- `DataFrame` represents a two dimensional array of data

These are *array-like* data structures. 

- They have fixed dimensions.
- Their entries are of a homogeneous datatype.
- They are associated with indices, which help with data access
- They support a variety of mathematical operations.

### Pandas Series

> Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [2]:
s = pd.Series([1, 2, 3, 4, 5], index=["Lbl1", "Lbl2", "Lbl3", "Lbl4", "Lbl5"])
s

Lbl1    1
Lbl2    2
Lbl3    3
Lbl4    4
Lbl5    5
dtype: int64

In [3]:
s.shape, s.size, s.dtype

((5,), 5, dtype('int64'))

In [4]:
s.index

Index(['Lbl1', 'Lbl2', 'Lbl3', 'Lbl4', 'Lbl5'], dtype='object')

### Series Data Access

There are *many* ways to access data with Series objects.

Which one you use will depend on the situation.

Let's look at some common patterns.

See the docs on [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html) for more details.

#### Using `loc` and `iloc`

These are the basic data access methods

In [5]:
s.loc["Lbl1"]  # access data by index label

1

In [6]:
s.iloc[0] # access data by position in index

1

#### Using Regular Subscripts

Subscripts try to behave intelligently depending on the data type you pass in.

In [7]:
s["Lbl1"], s[0] 
# direct indexing; multifunction, tries to be smart

(1, 1)

#### Subsetting Data

We can use boolean/logical expressions to select data.

See the cheat sheet for a quick list of different operators.

In [8]:
2 < s # Constructing a boolean series

Lbl1    False
Lbl2    False
Lbl3     True
Lbl4     True
Lbl5     True
dtype: bool

In [9]:
s[2 < s] # Simple boolean query

Lbl3    3
Lbl4    4
Lbl5    5
dtype: int64

In [10]:
s[(2 < s) & (s < 5)] # More complex boolean; watch operator precedence!

Lbl3    3
Lbl4    4
dtype: int64

Look at what happens to the index with a boolean selection.

In [11]:
s[2 < s]

Lbl3    3
Lbl4    4
Lbl5    5
dtype: int64

We lose some index entries! 

But, sometimes, we want to keep the index intact. Here is how to do that.

In [12]:
s.where(s > 2) # boolean indexing again, but preserving the original index

Lbl1    NaN
Lbl2    NaN
Lbl3    3.0
Lbl4    4.0
Lbl5    5.0
dtype: float64

### Pandas DataFrames

> DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [13]:
df = pd.DataFrame({"another_s": [6, 7, 8, 9, 10],
                   "yet another": [11, None, None, 14, 15]},
    index=["Lbl1", "Lbl2", "Lbl3", "Lbl4", "Lbl5"])
df

      another_s  yet another
Lbl1          6         11.0
Lbl2          7          NaN
Lbl3          8          NaN
Lbl4          9         14.0
Lbl5         10         15.0

In [14]:
df.columns # dfs have column indices!

Index(['another_s', 'yet another'], dtype='object')

### DataFrame Data Access

You can use the same methods as Series to access and subset DataFrame data.

The behaviour is slightly different in some cases, and there some additional functionality that allows you to work with columns.

For further details, see

#### Accessing Rows and Columns

In [15]:
df.another_s

Lbl1     6
Lbl2     7
Lbl3     8
Lbl4     9
Lbl5    10
Name: another_s, dtype: int64

In [16]:
# 'df.yet another' invalid!
df["yet another"]

Lbl1    11.0
Lbl2     NaN
Lbl3     NaN
Lbl4    14.0
Lbl5    15.0
Name: yet another, dtype: float64

To select individual rows, use `loc` and `iloc`

In [17]:
df.loc["Lbl1"]

another_s       6.0
yet another    11.0
Name: Lbl1, dtype: float64

In [18]:
df.iloc[0]

another_s       6.0
yet another    11.0
Name: Lbl1, dtype: float64

#### Adding, Selecting and Reordering Columns

In [19]:
df["s"] = s # Remeber s?
df

      another_s  yet another  s
Lbl1          6         11.0  1
Lbl2          7          NaN  2
Lbl3          8          NaN  3
Lbl4          9         14.0  4
Lbl5         10         15.0  5

In [20]:
df[["s", "another_s"]] # Subset and reorder columns

      s  another_s
Lbl1  1          6
Lbl2  2          7
Lbl3  3          8
Lbl4  4          9
Lbl5  5         10

### DataFrame Subsetting

You can use boolean expressions as with series, but with different columns too!

In [21]:
df[df.s < 2]

      another_s  yet another  s
Lbl1          6         11.0  1

In [22]:
df[df["yet another"] > df.s]

      another_s  yet another  s
Lbl1          6         11.0  1
Lbl4          9         14.0  4
Lbl5         10         15.0  5

### Working with Missing Data

Take another look at the Dataframe.

In [23]:
df

      another_s  yet another  s
Lbl1          6         11.0  1
Lbl2          7          NaN  2
Lbl3          8          NaN  3
Lbl4          9         14.0  4
Lbl5         10         15.0  5

The `NaN` values indicate missing data. 

Let's briefly review their behavior. We'll look into how to deal with them later.

We can check for missing values.

In [24]:
df["yet another na"] = df["yet another"].isna()
df[["another_s", "yet another", "yet another na"]]

      another_s  yet another  yet another na
Lbl1          6         11.0           False
Lbl2          7          NaN            True
Lbl3          8          NaN            True
Lbl4          9         14.0           False
Lbl5         10         15.0           False

Missing values get propagated in mathematical operations and ignored in aggregation functions.

In [25]:
df["another_s"] + df["yet another"]

Lbl1    17.0
Lbl2     NaN
Lbl3     NaN
Lbl4    23.0
Lbl5    25.0
dtype: float64

In [26]:
df["yet another"].sum()

40.0

### Special Datatypes

Pandas has special datatypes for categorical and time data.

These datatypes support a number of sophisticated operations.

We will see some of them later on, but for reference see the following:
- [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
- [Timeseries data](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html)

## Basic Data Wrangling: Loading, Viewing, Cleaning and Enriching Data

You can divide data wrangling into three broad activities.
1. Inspection - Get familiar with the data and check for potential problems
2. Preparation - Create or clean variables, deal with missing values
3. Exploration - Compute descriptives statistics and identify basic patterns in the data

The ordering above is typical, but not absolute. 

The different activities often tend to blend together.

### Reading and Writing Data

`pandas` can import a wide variety of common data formats. 

Some supported file types include the following.
- CSV
- Excel
- SPSS
- STATA

For a full list, see the [I/O documentation](https://pandas.pydata.org/docs/reference/io.html).

We can load datasets by calling the appropriate read function.

In [27]:
# For this workshop, we will work with the following data
load_path = "federal-candidates-2021-10-20.csv"

# Load the data 
df = pd.read_csv(load_path)

/home/mekikc/.conda/envs/CDSI/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Writing to these formats is also generally supported.

In [28]:
# Let's save a copy of the data to this file
save_path = "federal-candidates-copy.csv"

# To write a dataframe, call the write method for the chosen format
df.to_csv(save_path)

### Viewing the Data

The first step in analyzing data is to get familiar with it.

This way, we get a feel for how much cleaning will be necessary.

We also give ourselves a chance to catch anything weird.

To get our bearings, let's take a look at the metadata.

In [29]:
df[df.columns[:10]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46526 entries, 0 to 46525
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              46526 non-null  int64
 1   parliament      46526 non-null  int64
 2   year            46526 non-null  int64
 3   type_elxn       46526 non-null  object
 4   elected         46526 non-null  object
 5   candidate_name  46526 non-null  object
 6   edate           46526 non-null  object
 7   incumbent       46458 non-null  object
 8   gender          46525 non-null  object
 9   birth_year      12276 non-null  float64
dtypes: float64(1), int64(3), object(6)
memory usage: 3.5+ MB

A good next step is to inspect the data directly and continue to look for
anything weird.

We can look at the top or bottom of the dataset or to randomly sample rows from the data set.

In [30]:
df.head(5) # Peek at the first n rows. See anything weird?

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
0,26093,1,1867,General,Elected,"POWER,",1867-08-07,Not incumbent,M,1815.0,...,Not acclaimed,Switcher,Single,Anti-Confederate,Third_Party,Third_Party,Conservative,Conservative,Conservative,4
1,13011,1,1867,General,Elected,"JONES,",1867-08-07,Not incumbent,M,1824.0,...,Not acclaimed,Switcher,Single,Labour,Labour,Third_Party,Conservative,Conservative,Conservative,4
2,27974,1,1867,General,Not elected,"SHANNON, S.L.",1867-08-07,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Unknown,Independent,Independent,Conservative,Conservative,Conservative,4
3,18040,1,1867,General,Elected,"KIRKPATRICK, Thomas",1867-08-07,Not incumbent,M,1805.0,...,Not acclaimed,Not switcher,Single,Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,2
4,1798,1,1867,General,Elected,"BLANCHET, Hon. J.G.",1867-08-07,Not incumbent,M,1829.0,...,Acclaimed,Not switcher,Single,Liberal-Conservative,Conservative,Conservative,Conservative,Conservative,Conservative,1

In [31]:
df.tail(5) # Peek at the last n rows.

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
46521,36038,44,2021,General,Not elected,"Bandou, Rachid",2021-09-20,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Bloc QuÃ©bÃ©cois,Bloc,Bloc,Liberal Party of Canada,Liberal,Liberal,5
46522,33663,44,2021,General,Elected,"Zahid, Salma",2021-09-20,Incumbent,F,1970.0,...,Not acclaimed,Not switcher,Single,Liberal Party of Canada,Liberal,Liberal,Liberal Party of Canada,Liberal,Liberal,5
46523,36037,44,2021,General,Not elected,"Jemmah, Rachid",2021-09-20,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Green Party of Canada,Green,Third_Party,Liberal Party of Canada,Liberal,Liberal,9
46524,32856,44,2021,General,Elected,"McLeod, Michael",2021-09-20,Incumbent,M,1959.0,...,Not acclaimed,Not switcher,Single,Liberal Party of Canada,Liberal,Liberal,Liberal Party of Canada,Liberal,Liberal,5
46525,35991,44,2021,General,Not elected,"Joshi, Medha",2021-09-20,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,Conservative Party of Canada,Conservative,Conservative,Liberal Party of Canada,Liberal,Liberal,3

In [32]:
df.sample(5) # Peek at a random sample of rows.

,id,parliament,year,type_elxn,elected,candidate_name,edate,incumbent,gender,birth_year,...,acclaimed,switcher,multiple_candidacy,party_raw,party_minor_group,party_major_group,gov_party_raw,gov_minor_group,gov_major_group,num_candidates
810,27243,2,1873,By-election,Elected,"ROSS, William",1873-12-20,Incumbent,M,1824.0,...,Not acclaimed,Not switcher,Single,Liberal,Liberal,Liberal,Conservative,Conservative,Conservative,2
43515,34242,43,2019,General,Not elected,"Duplessis, Marie",2019-10-21,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,Green Party of Canada,Green,Third_Party,Liberal Party of Canada,Liberal,Liberal,7
34214,1338,38,2004,General,Not elected,"BENHAM, Roger Colin",2004-06-28,Not incumbent,M,NaN,...,Not acclaimed,Not switcher,Single,Green Party of Canada,Green,Third_Party,Liberal Party of Canada,Liberal,Liberal,6
35063,9024,38,2004,General,Not elected,"HARTERY, Shirley",2004-06-28,Not incumbent,F,NaN,...,Not acclaimed,Not switcher,Single,New Democratic Party,NDP,CCF_NDP,Liberal Party of Canada,Liberal,Liberal,4
4338,23426,9,1900,General,Elected,"MCNEILL, Alexander",1900-11-07,Incumbent,M,1842.0,...,Not acclaimed,Not switcher,Single,Liberal-Conservative,Conservative,Conservative,Liberal Party of Canada,Liberal,Liberal,2

### Data Cleaning

Let's get familiar with some `pandas` data cleaning tools.

Our first data cleaning step is to clean up the data types.

Sometimes `pandas` fails to assign the right dtype when constructing a variable.

#### Adjusting Datatypes

String data are typically assigned the 'object' type.

This is `pandas`'s way of signaling it doesn't really know how to interpret the data.

In this dataset, almost all columns with string data represent categorical
variables. 

However, edate is a date, and candidate_name and occupation are a free-form strings.

In [33]:
object_cols = df.select_dtypes(include="object").columns
print(f"Object-type columns: {object_cols}.")

Object-type columns: Index(['type_elxn', 'elected', 'candidate_name', 'edate', 'incumbent',
       'gender', 'country_birth', 'lgbtq2_out', 'indigenousorigins',
       'occupation', 'lawyer', 'censuscategory', 'riding', 'province',
       'acclaimed', 'switcher', 'multiple_candidacy', 'party_raw',
       'party_minor_group', 'party_major_group', 'gov_party_raw',
       'gov_minor_group', 'gov_major_group'],
      dtype='object').

We can cast the affected variables to the correct dtypes as follows.

In [34]:
# Cast edate as a datetime variable
df.edate = pd.to_datetime(df.edate, yearfirst=True) 

# Cast object variables as categorical
for col in df.select_dtypes(include="object").columns:
    if col not in ["candidate_name", "occupation"]: 
        df[col] = df[col].astype("category")

 Let's check what happened to the object-type columns.

In [35]:
df[object_cols].dtypes

type_elxn                   category
elected                     category
candidate_name                object
edate                 datetime64[ns]
incumbent                   category
gender                      category
country_birth               category
lgbtq2_out                  category
indigenousorigins           category
occupation                    object
lawyer                      category
censuscategory              category
riding                      category
province                    category
acclaimed                   category
switcher                    category
multiple_candidacy          category
party_raw                   category
party_minor_group           category
party_major_group           category
gov_party_raw               category
gov_minor_group             category
gov_major_group             category
dtype: object

Finally, let's take a look at the numerical data.

Do you notice anything weird?

In [36]:
float_cols = df.select_dtypes("float").columns
print(f"Float columns: {float_cols}")

int_cols = df.select_dtypes("int").columns
print(f"Int columns: {int_cols}")

Float columns: Index(['birth_year', 'riding_id', 'votes', 'percent_votes'], dtype='object')
Int columns: Index(['id', 'parliament', 'year', 'num_candidates'], dtype='object')

Of the four float columns, it is only natural to represent `percent_votes` as a 
float type variable. 

For `riding_id`, we are better off using a categorical datatype, even though the 
values look like integers. 

Likewise, the `id` column should also be viewed as a
categorical. In both cases, the ordering of the values is not meaningful.

Here is how we convert the dataype of `riding_id` and `id`.

In [37]:
df.riding_id = df.riding_id.astype("category")
df.id = df.id.astype("category")

The `birth_year` and `votes` columns should be using an integer dtype.

But why were three variables get 'mis-coded' as float in the first place? 

Perhaps we can get a clue by comparing to correct int variables

In [38]:
df[["birth_year", "votes", "year", "num_candidates"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46526 entries, 0 to 46525
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   birth_year      12276 non-null  float64
 1   votes           45835 non-null  float64
 2   year            46526 non-null  int64
 3   num_candidates  46526 non-null  int64
dtypes: float64(2), int64(2)
memory usage: 1.4 MB

It's because the default integer datatype does not support missing
values! 

Luckily, `pandas` has another integer datatype that supports missing values. We
can just cast to that.

In [39]:
df.birth_year = df.birth_year.astype("Int64")
df.votes = df.votes.astype("Int64")

Don't mix up 'int64' with 'Int64'! In pandas, they are different: 
- `int64` refers to the regular int type that has no missing value support
- `Int64` refers to the to the int type with missing value support

#### Cleaning Categorical Variables

Categorical variables tend to require some extra attention, even in the most
well-curated datasets.

Take a look at the values of the `gender` variable. 

Keep in mind what the data's README file says about this variable:
> gender is a binary factor variable encoding candidate gender.

In [40]:
df.gender.cat.categories # This is how we access category names

Index(['2', 'F', 'M'], dtype='object')

We were told `gender` is supposed to be a binary variable, but we got three values?

So what's going on here? 

To get a better idea, let's tabulate the variable.

In [41]:
df.gender.value_counts()

M    39938
F     6585
2        2
Name: gender, dtype: int64

Let's look up these cases by subsetting the data.

In [47]:
df.loc[df.gender == "2", ["parliament", "candidate_name", "province", "riding", "party_raw"]]

,parliament,candidate_name,province,riding,party_raw
45911,44,"Walker, Gillian",Saskatchewan,Saskatoon--Grasswood,Green Party of Canada
46045,44,"Woodmass, Rowan",Quebec,Laval--Les ÃŽles,New Democratic Party

These candidates are from the most recent election and, if you look them up, you'll find that they both have non-binary gender identity.

We can recode the data to give those two cases more explicit labels.

In [125]:
df.gender = df.gender.replace({"2": "NB"}).astype("category")
df.gender.cat.categories

Index(['NB', 'F', 'M'], dtype='object')

Replace is very powerful and works with other variable types as well!

It is particularly handy when you want to collapse multiple categories.

Another adjustment we can make is to rename categories. 

Why? Because it is confusing and difficult to work with
poorly named categories.

Take a look at the category names in the `censuscategory` variable.

In [126]:
df.censuscategory.cat.categories

Index(['Business, finance and administration occupations',
       'Health occupations', 'Management occupations', 'Members of Parliament',
       'Natural and applied sciences and related occupations',
       'Natural resources, agriculture and related production occupations',
       'Occupations in art, culture, recreation and sport',
       'Occupations in education, law and social, community and government services',
       'Occupations in manufacturing and utilities',
       'Sales and service occupations',
       'Trades, transport and equipment operators and related occupations'],
      dtype='object')

`censuscategory` gives candidates' occupation according to the Census Canada taxonomy.

These names are precise, but wordy. Let's abbreviate them.

In [127]:
df.censuscategory = df.censuscategory.cat.rename_categories([
    "Business", "Health", "Management", "MP", "Science", "Resources", "Culture",
    "Social", "Manufacturing", "Sales", "Trades"
])
df.censuscategory.head(10)

0       Sales
1       Sales
2      Social
3      Social
4      Health
5    Business
6         NaN
7      Social
8      Health
9         NaN
Name: censuscategory, dtype: category
Categories (11, object): ['Business', 'Health', 'Management', 'MP', ..., 'Social', 'Manufacturing', 'Sales', 'Trades']

#### Subsetting the Data

Often, we are not interested in the entirety of the data. It then makes sense to subset the data using the techniques we saw above. 

Here, we'll focus on a subset of the available variables in elections after 1990.

In [128]:
df = df[(df.year > 1990) & (df.type_elxn == "General")] # keep general election data from 1990 on
df = df[["parliament", "edate", "year", "province", "riding", "id", "candidate_name", "birth_year", 
         "gender", "censuscategory", "party_major_group", "votes", "percent_votes", "elected"]]
df.head(5)

,parliament,edate,year,province,riding,id,candidate_name,birth_year,gender,censuscategory,party_major_group,votes,percent_votes,elected
27908,35,1993-10-25,1993,Manitoba,WINNIPEG--ST. JAMES,1851,"BLUMENSCHEIN, Peter",<NA>,M,Management,Reform_Alliance,8246,20.965118,Not elected
27909,35,1993-10-25,1993,Ontario,Kent,18100,"KNIGHT, Victor",<NA>,M,Social,Independent,1014,2.790467,Not elected
27910,35,1993-10-25,1993,Ontario,LEEDS--GRENVILLE,1186,"BEECROFT, Richard",<NA>,M,Social,Third_Party,196,0.387819,Not elected
27911,35,1993-10-25,1993,Ontario,ETOBICOKE CENTRE,5704,"DONLEY, Charles",<NA>,M,Sales,Conservative,9242,19.514359,Not elected
27912,35,1993-10-25,1993,Alberta,VEGREVILLE,21076,"LEHR, Roger",<NA>,M,Business,Conservative,8180,22.692596,Not elected

### Handling Missing Data

Let's try to identify where we have missing values.

In [129]:
na_counts = df.isna().sum() # .sum() is an aggregation function!
na_counts[na_counts > 0]

birth_year        15066
gender                1
censuscategory     2959
votes                14
percent_votes        14
dtype: int64

`pandas` gives us several options to deal with missing values.

Our options are basically to do nothing, drop the missing values, or impute them (i.e., fill them in).

To keep things simple, let's focus on a single candidate, Elizabeth May (`id == 22644`).

In [130]:
elizabeth_may = df[df.id == 22644][["edate", "birth_year", "censuscategory"]]
elizabeth_may

           edate  birth_year censuscategory
38431 2008-10-14        <NA>             MP
38961 2011-05-02        1954             MP
41310 2015-10-19        1954             MP
44484 2019-10-21        1954             MP
45134 2021-09-20        1954            NaN

Dropping is the simplest solution, but is not ideal because of how much data is lost.

In [131]:
elizabeth_may.dropna() # Drop all rows with missing data

           edate  birth_year censuscategory
38961 2011-05-02        1954             MP
41310 2015-10-19        1954             MP
44484 2019-10-21        1954             MP

In [132]:
elizabeth_may.dropna(axis=1) # Drop columns with missing data

           edate
38431 2008-10-14
38961 2011-05-02
41310 2015-10-19
44484 2019-10-21
45134 2021-09-20

Another strategy is to fill in the missing data with some reasonable values.

In [133]:
elizabeth_may.birth_year # Original data with missing values

38431    <NA>
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

In [134]:
elizabeth_may.birth_year.fillna(1954) # Fill birth year by fixed value

38431    1954
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

It's best not to do manual imputation. We could use some automation instead.

A simple automation is to carry existing values forwards or backwards through the data. But, we have to make sure the data is sorted properly.

In [135]:
em_sorted = elizabeth_may.sort_values("edate") # Make sure data is sorted first.

In [136]:
em_sorted.birth_year.fillna(method="bfill") # Carry birth year back over the index

38431    1954
38961    1954
41310    1954
44484    1954
45134    1954
Name: birth_year, dtype: Int64

In [137]:
em_sorted.censuscategory.fillna(method="pad") # Carry occupation forward in time

38431    MP
38961    MP
41310    MP
44484    MP
45134    MP
Name: censuscategory, dtype: category
Categories (11, object): ['Business', 'Health', 'Management', 'MP', ..., 'Social', 'Manufacturing', 'Sales', 'Trades']

You can do more sophisticated imputation as well, using the `interpolate()` method.

A detailed discussion of missing values and basic imputation is available in [Working with Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html).

Finally, we can combine the imputation functions with techniques discussed in the next section to handle grouped data.

### Enriching the Data with New Variables

Once we have sufficiently cleaned our data, we usually want to calculate new variables from it.

We can simply calculate the value and add a new variable as show below.

In [138]:
df["age"] = df.year - df.birth_year
df.age.describe()

count    3024.000000
mean       50.768849
std        10.193487
min        20.000000
25%        44.000000
50%        51.000000
75%        58.000000
max        80.000000
Name: age, dtype: float64

#### Grouping

Often, we want to calculate statistics by group.

For this, we can use `groupby()`, which will automatically split the dataset by group. 

We can then [aggregate, filter, or transform the data by group](https://pandas.pydata.org/docs/user_guide/groupby.html).

As a starting example let's try to find the age of the oldest MP in each parliament.

In [139]:
grouped = df.groupby("parliament") # Split into groups
grouped_age = grouped.age # Select the age variable
df["oldest_mp_age"] = grouped_age.transform(max) # Find max age within each group
df.oldest_mp_age.describe() # Describe the result

count    18090.000000
mean        73.976119
std          3.135572
min         69.000000
25%         72.000000
50%         74.000000
75%         74.000000
max         80.000000
Name: oldest_mp_age, dtype: float64

To give a more complex example, let's try calculating the margin of victory in each contest.

In [140]:
grouped = df.groupby(["edate", "province", "riding"]) # group by contest
grouped_pct_votes = grouped.percent_votes # select grouped percent votes variable

def compute_margin(data): # define margin computation
    if data.size > 1:
        winner = data.sort_values(ascending=False).iloc[0]
        runner_up = data.sort_values(ascending=False).iloc[1]
        output = data - winner
        output.iloc[output.argmax()] = winner - runner_up
        return output
    else:
        return None

df["margin"] = grouped_pct_votes.transform(compute_margin) # calculate margin

Let's inspect the result to make sure we did not blunder.

In [141]:
(df[["parliament", "province", "riding", "party_major_group", "percent_votes", "margin"]]
    .sort_values(by=["parliament", "province", "riding", "percent_votes"])).head(20)

,parliament,province,riding,party_major_group,percent_votes,margin
29438,35,Alberta,ATHABASCA,Third_Party,0.597903,-46.467775
28555,35,Alberta,ATHABASCA,Third_Party,0.956644,-46.109034
29459,35,Alberta,ATHABASCA,CCF_NDP,7.631692,-39.433986
29514,35,Alberta,ATHABASCA,Conservative,19.157417,-27.908261
29177,35,Alberta,ATHABASCA,Liberal,24.590666,-22.475012
29102,35,Alberta,ATHABASCA,Reform_Alliance,47.065678,22.475012
28610,35,Alberta,BEAVER RIVER,Independent,0.307602,-57.694950
29309,35,Alberta,BEAVER RIVER,Third_Party,0.962073,-57.040479
28190,35,Alberta,BEAVER RIVER,CCF_NDP,3.435976,-54.566576
29518,35,Alberta,BEAVER RIVER,Conservative,12.611670,-45.390882
28594,35,Alberta,BEAVER RIVER,Liberal,24.680126,-33.322426
28228,35,Alberta,BEAVER RIVER,Reform_Alliance,58.002552,33.322426
28596,35,Alberta,CALGARY CENTRE,Third_Party,0.181503,-44.894989
28876,35,Alberta,CALGARY CENTRE,Third_Party,0.183497,-44.892995
29002,35,Alberta,CALGARY CENTRE,Third_Party,0.708060,-44.368432
29673,35,Alberta,CALGARY CENTRE,Third_Party,0.965355,-44.111137
29094,35,Alberta,CALGARY CENTRE,Independent,3.476475,-41.600017
28709,35,Alberta,CALGARY CENTRE,CCF_NDP,4.286256,-40.790236
28490,35,Alberta,CALGARY CENTRE,Conservative,14.891198,-30.185294
27918,35,Alberta,CALGARY CENTRE,Liberal,30.231167,-14.845325

In [142]:
df.margin.describe()

count    18076.000000
mean       -28.122740
std         28.020632
min        -83.992778
25%        -46.974372
50%        -36.710155
75%        -13.597773
max         80.378445
Name: margin, dtype: float64

#### Method Chaining and Piping

Did you notice how tedious it was to calculate the pervious variables? 

We had to set a lot of variables. 

We can avoid this using a technique called *method chaining* or *piping*.

Here is how it goes for the margin of victory:

In [143]:
df["margin"] = (df
    .groupby(["edate", "province", "riding"])
    .percent_votes
    .transform(compute_margin)
)

This works because each function we call in the sequence calls a method of the result returned by the previous function.

It's a technique is good for grouping together operations into logical chunks.

What happens if we want to use piping with functions that are not methods of the result?

For instance, what happens if we want to pipe some custom functions?

We just use the special method `pipe()`, allows us to pass in arbitrary functions and arguments.

- [DataFrame pipe method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html)
- Also available for `Series` and grouped data

## More Data Wrangling: Aggregating, Reshaping, Merging and Concatenating Data

Often, we need to modify the structure of our dataset.

There are a few reasons we might want to do this:
- We might want to look at aggregate statistics
- Our data might need to be formatted a certain way to facilitate or enable analysis
- We might need to incorporate some supplemental data to calculate some variable of interest
- Our data may be spread over many files and/or dataframes

### Aggregating Data

We often need to calculate aggregate statistics when trying to provide descriptives for our data. 

Let's calculate the number of candidates in each election of each party and occupation type.

In [144]:
count = (df
    .groupby(["edate", "party_major_group", "censuscategory"], as_index=False)
    .size())
count

         edate party_major_group censuscategory  size
0   1993-10-25              Bloc       Business    16
1   1993-10-25              Bloc         Health     2
2   1993-10-25              Bloc     Management     7
3   1993-10-25              Bloc             MP     4
4   1993-10-25              Bloc        Science     0
..         ...               ...            ...   ...
875 2021-09-20       Third_Party        Culture     0
876 2021-09-20       Third_Party         Social     0
877 2021-09-20       Third_Party  Manufacturing     0
878 2021-09-20       Third_Party          Sales     0
879 2021-09-20       Third_Party         Trades     0

[880 rows x 4 columns]

### Reshaping Data

Suppose now that we want the average number of candidates in  each occupation by party.

For this, one easy approach is to pivot the party and censuscategory variables to be column indices and then take an average.

Refer to [Reshaping and Pivot Tables](https://pandas.pydata.org/docs/user_guide/reshaping.html) for more information.

In [145]:
count_p = count.pivot(index="edate", columns=["party_major_group", "censuscategory"], values="size")
count_p.head(4)

party_major_group     Bloc                                                  \
censuscategory    Business Health Management  MP Science Resources Culture
edate
1993-10-25              16      2          7   4       0         3       3
1997-06-02              15      1          6   7       1         1       5
2000-11-27              11      1          3  22       1         1       3
2004-06-28               9      1          3  20       6         1       5

party_major_group                             ... Third_Party                \
censuscategory    Social Manufacturing Sales  ...      Health Management MP
edate                                         ...
1993-10-25            30             0     4  ...          24         42  3
1997-06-02            34             0     2  ...          18         22  1
2000-11-27            29             0     2  ...          19         26  5
2004-06-28            23             0     0  ...          17         33  2

party_major_group
censuscategory    Science Resources Culture Social Manufacturing Sales Trades
edate
1993-10-25             51        26      36    204             8    52     42
1997-06-02             24         8      29    137             8    34     20
2000-11-27             30        13      32    180             1    41     27
2004-06-28             44        19      51    215             8    61     38

[4 rows x 88 columns]

In [146]:
count_p.mean()

party_major_group  censuscategory
Bloc               Business            8.7
                   Health              0.8
                   Management          3.5
                   MP                 15.6
                   Science             2.8
                                     ...
Third_Party        Culture            41.6
                   Social            159.4
                   Manufacturing       4.9
                   Sales              56.1
                   Trades             32.0
Length: 88, dtype: float64

We can massage the dataset back to its original shape.

In [147]:
count_p.unstack().reset_index()

    party_major_group censuscategory      edate   0
0                Bloc       Business 1993-10-25  16
1                Bloc       Business 1997-06-02  15
2                Bloc       Business 2000-11-27  11
3                Bloc       Business 2004-06-28   9
4                Bloc       Business 2006-01-23   4
..                ...            ...        ...  ..
875       Third_Party         Trades 2008-10-14  34
876       Third_Party         Trades 2011-05-02  28
877       Third_Party         Trades 2015-10-19  33
878       Third_Party         Trades 2019-10-21  63
879       Third_Party         Trades 2021-09-20   0

[880 rows x 4 columns]

### Merging Data

To get a handle on merging, let's say we are interested in analyzing candidate occupation by sector.

In [148]:
sector = pd.DataFrame({
            "sector": ["Tertiary", "Tertiary", "Tertiary", "Tertiary", "Tertiary", "Primary", 
                       "Tertiary", "Tertiary", "Secondary", "Tertiary", "Secondary"],
    "censuscategory": ["Business", "Health", "Management", "MP", "Science", "Resources", "Culture", 
                       "Social", "Manufacturing", "Sales", "Trades"]
})
sector

       sector censuscategory
0    Tertiary       Business
1    Tertiary         Health
2    Tertiary     Management
3    Tertiary             MP
4    Tertiary        Science
5     Primary      Resources
6    Tertiary        Culture
7    Tertiary         Social
8   Secondary  Manufacturing
9    Tertiary          Sales
10  Secondary         Trades

Using the merge function we can specify how we want this DataFrame to be combined with the main data set.

In [149]:
merged = pd.merge(df, sector, on="censuscategory", how="left")
merged[["year", "candidate_name", "censuscategory", "sector"]]

       year       candidate_name censuscategory    sector
0      1993  BLUMENSCHEIN, Peter     Management  Tertiary
1      1993       KNIGHT, Victor         Social  Tertiary
2      1993    BEECROFT, Richard         Social  Tertiary
3      1993      DONLEY, Charles          Sales  Tertiary
4      1993          LEHR, Roger       Business  Tertiary
...     ...                  ...            ...       ...
18085  2021       Bandou, Rachid            NaN       NaN
18086  2021         Zahid, Salma            NaN       NaN
18087  2021       Jemmah, Rachid            NaN       NaN
18088  2021      McLeod, Michael            NaN       NaN
18089  2021         Joshi, Medha            NaN       NaN

[18090 rows x 4 columns]

Look more closely at the code:
```python
pd.merge(df, sector, on="censuscategory", how="left")
```

We usually talk about a left and right hand arguments. These are the first two arguments to merge.

The `on` argument tells us what variable(s) to merge on. 

The `how` argument specifies how the data gets merged.

To read more see the [guide on database-style joins](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging)

### Concatenating Data

Finally, sometimes our data is spread over multiple dataframes, and we just want to combine it.

This is what the concatenation operation does.

See [Concatenating Objects](https://pandas.pydata.org/docs/user_guide/merging.html#concatenating-objects) for further details.

In [150]:
# Separate counts by election; note iteration over groupby
separate_dataframes = [obj for name, obj in count.groupby("edate")]
separate_dataframes[:2]

[        edate party_major_group censuscategory  size
 0  1993-10-25              Bloc       Business    16
 1  1993-10-25              Bloc         Health     2
 2  1993-10-25              Bloc     Management     7
 3  1993-10-25              Bloc             MP     4
 4  1993-10-25              Bloc        Science     0
 ..        ...               ...            ...   ...
 83 1993-10-25       Third_Party        Culture    36
 84 1993-10-25       Third_Party         Social   204
 85 1993-10-25       Third_Party  Manufacturing     8
 86 1993-10-25       Third_Party          Sales    52
 87 1993-10-25       Third_Party         Trades    42

 [88 rows x 4 columns],
          edate party_major_group censuscategory  size
 88  1997-06-02              Bloc       Business    15
 89  1997-06-02              Bloc         Health     1
 90  1997-06-02              Bloc     Management     6
 91  1997-06-02              Bloc             MP     7
 92  1997-06-02              Bloc        Science     1
 ..         ...               ...            ...   ...
 171 1997-06-02       Third_Party        Culture    29
 172 1997-06-02       Third_Party         Social   137
 173 1997-06-02       Third_Party  Manufacturing     8
 174 1997-06-02       Third_Party          Sales    34
 175 1997-06-02       Third_Party         Trades    20

 [88 rows x 4 columns]]

In [151]:
pd.concat(separate_dataframes) # back together!

         edate party_major_group censuscategory  size
0   1993-10-25              Bloc       Business    16
1   1993-10-25              Bloc         Health     2
2   1993-10-25              Bloc     Management     7
3   1993-10-25              Bloc             MP     4
4   1993-10-25              Bloc        Science     0
..         ...               ...            ...   ...
875 2021-09-20       Third_Party        Culture     0
876 2021-09-20       Third_Party         Social     0
877 2021-09-20       Third_Party  Manufacturing     0
878 2021-09-20       Third_Party          Sales     0
879 2021-09-20       Third_Party         Trades     0

[880 rows x 4 columns]

## Conlusion

We have only scratched the surface of what you can do with `pandas`.

Always remember that the documentation is your best friend.

Let me leave you with a pointer to a few other libraries;

- `numpy` is the standard Python library for mathematical tasks. It is very powerful and you can use it almost seamlessly in conjunction with `pandas`.
- If you want to run statistical analyses with your `pandas` data, check out Python's `statsmodels` package.
- Finally, if you want to make beautiful graphs, please come back next week, when we will look at `matplotlib`, Python's de facto standard plotting library.